<div class="flex flex-col justify-center items-center text-lg space-y-2">
   <h1 class="text-2xl font-bold text-white mt-4">Our Story</h1>

   <app-content class="w-100">
        <h1 class="text-2xl font-bold mb-4">Company Overview</h1>

    </app-content>

    <app-content class="w-100">
        <h1 class="text-2xl font-bold mb-4">Kenzie Highlight</h1>

    </app-content>

    <app-content class="w-100">
        <h1 class="text-2xl font-bold mb-4">Cody Highlight</h1>

    </app-content>

    <app-content class="w-100">
        <h1 class="text-2xl font-bold mb-4">Maebry Highlight</h1>

    </app-content>

    <app-content class="w-100">
        <h1 class="text-2xl font-bold mb-4">McCaffrey Highlight</h1>

    </app-content>

    <app-content class="w-100">
        <h1 class="text-2xl font-bold mb-4">Colter Highlight</h1>

    </app-content>
</div>