<div class="flex flex-col justify-center items-center text-lg space-y-2">
    <h1 class="text-2xl font-bold text-white mt-4">Contact Us</h1>

    <app-content>
        <h1 class="text-2xl font-bold mb-4 md:pt-4">Enderle Cattle Company</h1>

        <div class="text-black space-y-2 mb-8">
            <p class="text-sm ">{{address1}} | {{address2}}</p>
        </div>

        <div class="text-black space-y-2 mb-4">
            <p class="text-lg font-bold mt-1">Cody & Kenzie Enderle</p>

            <p class="text-sm mb-0">{{phoneNumber}}</p>
            <a [href]="mailTo" class="text-sm text-blue-600 hover:text-blue-800 underline">
                {{email}}
            </a>
        </div>
    </app-content>

    <div id="form-section" class="flex flex-col justify-center items-center mb-4">
        <h1 class="text-2xl font-bold pt-6 text-white">Get In Touch With Us!</h1>
        <p>TODO: form with captcha</p>
    </div>

    <!-- <app-get-in-touch ngSkipHydration></app-get-in-touch> -->


</div>